
/* .your-time-card-container{
    background-color: #C8E5FF;
    padding: 2%;
    padding-bottom: 1%;
    border-radius: 10px;
} */

.your-time-card-body-2{
    padding: 0px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.your-time-date{
    text-align: center;
}

.your-time-dropdown{
    margin-bottom: 6%;
}

.your-time-dropdown-menu{
    max-height: 400px;
    overflow-y: scroll;
}